{% extends "index.html" %} 
{% block outlet %}
<div class="container w-75 border border-dark p-5">
  <table class="table bg-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
        <th scope="col">Address</th>
        <th scope="col">Mobile No</th>
        <th scope="col">Date</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for i in data %}
      <tr>
        <th scope="row">{{i.id}}</th>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.age}}</td>
        <td>{{i.address}}</td>
        <td>{{i.mobile_no}}</td>
        <td>{{i.date}}</td>
        <td><a href ="/update/{{i.id}}/"><i class="fa-solid fa-pen-to-square"></i></a></td>
        <td><a href = "/delete/{{i.id}}/"><i class="fa-solid fa-trash"></i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock outlet %}
